.font-style {
  font-size: 22px;
  font-family: "Arial", "Helvetica";
}

.header {
  background-color: #ff719c;
}

.header_text-style {
  color: #ffffff;
  font-family: "Arial", "Helvetica";
}

.header_text-padding {
  padding-top: 75px;
  padding-bottom: 55px; 
}

.header_slogan-margin-top {
  margin-top: 0;
}

.main_text-style {
  line-height: 34px;
  font-family: "Arial", "Helvetica";
}

.main_padding-top {
  padding-top: 50px;
}

